 body {
            margin: 0;
            background-color: #f4f6f8;
            font-family: Georgia, "Times New Roman", serif;
            line-height: 1.8;
        }

        .container {
            max-width: 900px;
            margin: auto;
            background-color: #ffffff;
            padding: 30px;
        }

        h1 {
            font-size: 34px;
            color: #1e272e;
        }

        .location {
            font-style: italic;
            color: #555;
            margin-bottom: 20px;
        }

        h3 {
            color: #0a3d62;
            margin-top: 35px;
        }

        p {
            font-size: 17px;
            color: #333;
            text-align: justify;
            margin-bottom: 18px;
        }

        img {
            width: 50%;
            display: block;
            margin: 20px auto;
            border-radius: 6px;
        }


        footer {
            text-align: center;
            margin-top: 40px;
            padding-top: 15px;
            border-top: 1px solid #ddd;
            font-size: 14px;
            color: #777;
        }